<h1>Questions#answer</h1>

<div class="question card">
  <blockquote>
    <h3>Question : <%= params[:questions] %> </h3>
    <cite> - You: </cite>
  </blockquote>
</div>

<div class="answer card">
  <blockquote>
    <h3>Question : <%= @answer %> </h3>
    <cite> - the bot: </cite>
  </blockquote>
</div>

<%= link_to("Ask a new question", "/ask") %>



<div class="answer-card">


</div>


